[user]
	name = HongDing
	email = keith.dh@hotmail.com
[core]
	editor = nvim
[alias]
	st = status
	co = checkout
	df = diff
	lg = log --graph --oneline	
	bc = branch -vv
	db = branch -D
	cl = clone
	cm = commit -m
	ca = commit --amend
	ad = add .
	ps = push
	pl = pull
	rb = rebase	
	fc = fetch --all
	rbc = rebase --continue
	rba = rebase --abort
	rsh = reset --hard
[push]
	autoSetupRemote = true
